
:root {
  --bg-color: #fff;
  --text-color: #222;

  --font-sans-serif: GT Ultra Standard, sans-serif;
  --font-serif: GT Ultra Fine, serif;

  --bp-mobile: 576px;
  --bp-tablet: 768px;
  --bp-laptop: 992px;
  --bp-desktop: 1200px;
}



@font-face {
  font-family: GT Ultra Fine;
  src: url('/font/GT-Ultra-Fine-Light.woff2') format('woff2'),
    url('/font/GT-Ultra-Fine-Light.woff') format('woff');
}
@font-face {
  font-family: GT Ultra Standard;
  src: url('/font/GT-Ultra-Standard-Bold.woff2') format('woff2'),
    url('/font/GT-Ultra-Standard-Bold.woff') format('woff');
}
@font-face {
  font-family: GT Ultra Fine;
  src: url('/font/GT-Ultra-Fine-Bold.woff2') format('woff2'),
    url('/font/GT-Ultra-Fine-Bold.woff') format('woff');
    font-weight: 700;
}
@font-face {
  font-family: GT Ultra Standard;
  src: url('/font/GT-Ultra-Standard-Bold.woff2') format('woff2'),
    url('/font/GT-Ultra-Standard-Bold.woff') format('woff');
    font-weight: 700;
}


body {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--text-color);
  
}

.fonts-loaded body {
  font-family: var(--font-sans-serif);
}

section {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;

  justify-content: center;
  align-items: center;

  text-align: center;
}

#logo {
  font-size: 8em;
  font-weight: 700;
  line-height: 1;
}
#logo span {
  font-family: var(--font-serif);
}

a,
a:hover,
a:focus,
a:visited {
  color: var(--text-color);
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  #logo {
    font-size: 5em;
  }
}